@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ==================HEADER========================== */

header{
    font-family: 'Montserrat', sans-serif;
}

@media (max-with: 991px) {
    .sidebar {
        backdrop-filter: blur(10px);
    }
}

header .logo_hd img {
    width: 15rem;
    height: auto;
}

.offcanvas-body .nav-item {
    border-bottom: 0.1rem solid rgb(237, 38, 71, 0);

}

.offcanvas-body .nav-item:hover {
    border-bottom: 0.1rem solid rgb(237, 38, 71);

}

.nav-link {
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(237, 38, 71);
}

.dropdown-item:hover {
    color: rgb(237, 38, 71);
}

.dropdown-item:focus{
    background-color: rgb(255, 255, 255);
}


/* ================LOGOUT============ */
.sidebar .logout {
    font-size: 22px;
    color: #151717;
}
.sidebar .logout:hover {
    font-size: 22px;
    color: rgb(237, 38, 71);
}