<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>TRANGCHU</title>
</head>

<body ng-app="dateApp" ng-controller="DateController">
    <ul>
        <li ng-repeat="date in dateRange">{{ date | date:'yyyy-MM-dd' }}</li>
    </ul>

    <!-- js -->
    <script th:src="@{/js/detail_day.js}"></script>
</body>

</html>